.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.choices button {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.choices button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.result {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.play-again {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}